$black:black;
$blue:#007bff;
$secondaryblue:#d4f0fc;
$white:white;
$font10:10px;
$font50:50px;
html,body {
    width: 100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.common-padding{padding: 80px 0 80px 0;}
.bttnblue{border:1px solid $blue; background-color: $blue;color:white;padding:8px 18px 8px 18px;width:60%;border-radius:3px;}
.bttnwhite{border:1px solid $blue ; background-color: white;color: $blue;padding:8px 18px 8px 18px;width:60%;border-radius:3px;}

h1{font-size: $font50; font-weight: 700;}

.box{padding:$font50 - 20;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);}

header{&::before{
    content: "";
    position: absolute;
    width: 1200px;
    height: 750px;
    background-color: #d4f0fc;
    /* left: 200px; */
    margin-left: 579px;
    transform: rotate(-40deg);
    border-bottom-left-radius: 45%;
    border-top-left-radius: 45%;
    
}}
    .section-top{

        h1{
            @extend h1;
            color:$blue;
            
    }
    p{font-size:$font50 - 20;}
    
    
    }
    

    .section-services{
        h2{
        @extend h1;}
        .box{@extend .box;}
        
       
    }
    
    .section-testing{
        h2{@extend h1;}
        h3{color:$blue;}
        .blue{color:white;background-color: $blue; padding:$font50 - 20;}
        .white{color:$blue;padding:$font50 - 20;}
    }
    .section-toolkit{
        .half-circle {
            // width: 200px;
            // height: 100px; /* as the half of the width */
            // border: 10px solid $secondaryblue;
            // border-bottom: 0;
        }
        h2{color:$blue;
            @extend h1;}
        .toolmid{margin-top:200px;}
        .mbox{margin-top:130px;}
        .box{
            @extend .box;
               
        }
     &::before{    content: "";
        position: absolute;
        width: 650px;
        height: 600px;
        border: 75px solid #d4f0fc;
        border-radius: 50%;
        margin-left: -170px;
        margin-top: -100px;
    }

    }

    .section-key{
        h2{@extend h1;}
       
    }
    
.section-testimonial{
// &__demo{
//     color: red;
// }
&::before{
    content: "";
    background: url(images/png/cl_shape.png) no-repeat;
    width: 100%;
    height: 936PX;
    position: absolute;
    z-index: -1;
    margin-top: -176px;
}


// .cl_shape{background: url("images/png/cl_shape.png");}

        h2{color:$blue;
            @extend h1;}
        h5{color:$blue;}
        .item{margin:10px;}
      

       
    }

    

.section-awards{
    h2{@extend h1;}
    .box {    line-height: 1!important;}
    hr{    width: 30%;}
}



footer{
    ul{padding:0;}
    ul li{list-style: none; color:white;font-size: $font10 + 2; line-height: 3;}
    background-color: $blue!important;
    background: url("images/png/world.png");
    h5{color:$white}
    p{color:$white; font-size: $font10 + 2;}
    a{color:$white;font-size: $font10 + 2;}
    .address li{line-height: 2!important;}
    // .hr{height:10px;color:$white;border-left:5px $white;width:10%}
    hr.left{border-top: 1px solid whitesmoke;width:35%;border:3!important;float: left;}
    hr.right{border-top: 1px solid whitesmoke;width:35%;border:3!important;float: right;}
    .paragraph{font-size: 15px!important;}
    .social_media {overflow: hidden!important;}
    .social_media  li {display:inline-block; margin:10px;background-color: darkblue;padding:5px;border-radius: 50%;width: 3%;line-height:1!important;}
    .social_media  li a{font-size:20px; }

}